<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titan+One" rel="stylesheet">
    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet" href="bar.css">
    <link rel="stylesheet" href="section.css">
    <meta charset="UTF-8">
    <title>S</title>
</head>

<body>
    
    <nav class="left_bar">
        <span class="logo">SA</span>
        <span class="bar" id="bar">
            <span class="bar_line"></span>
            <span class="bar_line"></span>
            <span class="bar_line"></span>
        </span>
    </nav>
    <div class="list" id="list">
        <ul>
            <li class="bar_list">a</li>
            <li class="bar_list">b</li>
            <li class="bar_list">c</li>
            <li class="bar_list">d</li>
        </ul>
    </div>
    <section>
        <h1 class="title">Hello</h1>
        <div class="imgBox">
        </div>
        <div class="play_list">
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul>
        </div>
    </section>
</body>
<script src="bar.js"></script>
</html>