section{
    font-family: 'Do Hyeon', sans-serif;

    width: auto;
    margin-left: 80px;

    display: flex;
    align-items: center;
    flex-direction: column;
}
section>h1.title{
    font-size: 3em;
}
section>div.imgBox{
    width: 100%;
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("img.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}
section>div.imgBox>video{
    height: 100%;
}
section>div.play_list{
    width: 100%;

    display: flex;
    justify-content: center;

    font-size: 2em;
}
